*{
    font-family: 'Poppins';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 130px 20px 20px 20px;
}

#hero{
    width: 100%;
    height: 300px;
    background-image: url('../../../public/images/hero-img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 100px;
    text-align: center;
    gap: 10px;
}

#socials{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#socials i{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff5e;
    border-radius: 50%;
    font-size: 1.1rem;
}

#socials i:hover{
    background-color: #ffffffa5;
    transition: 0.1s;
    color: #ffffff;
}

#title{
    font-size: 2rem;
    font-weight: 600;
    color: #ffffff;
}


#p{
    font-size: 1.5rem;
    color: #ffffff;
}

#flex-cont-3{
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 20px;
}

#yellow-divisor{
    width: 50px;
    height: 10px;
    background-color: #ffd573;
    border-radius: 30px;
}

#title-main{
    font-size: 1.5rem;
    font-weight: 600;
}

#card{
    display: flex;
    gap: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    width: 33%;
    border: 1px solid #f7f7f7;
    border-left: 5px solid #ffd573;
}

#horario{
    display: flex;
    gap: 40px;
}

#date{
    display: flex;
    gap: 20px;
    align-items: center;
    color: #b6b6b6;
}

#turno{
    background-color: #ffd573;
    border-radius: 50px;
    padding: 5px 20px;
    font-weight: 600;
}

#card img{
    width: 150px;
    height: 150px;
}

#data{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

#item-title{
    font-size: 1.1rem;
    font-weight: 600;
}

#item-desc{
    font-size: 0.8rem;
    color: #c8c8c8;
}

#item-detail{
    background-color: #ffd573;
    font-size: 0.8rem;
    width: fit-content;
    padding: 5px 20px;
    border-radius: 3px;
}

#item-detail:hover{
    background-color: #ffde91;
    cursor: pointer;
}

#detail-price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#item-price{
    font-size: 1.5rem;
}

#tickets{
    display: flex;
    gap: 20px;
}

#ticket{
    border: 1px solid #f7f7f7;
    padding: 20px;
    width: 300px;
    height: fit-content;
    border-radius: 5px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#ticket-title{
    font-size: 1.2rem;
    font-weight: 600;
}

#ticket-desc{
    font-size: 0.9rem;
    color: #7c7c7c;
}

#ticket-date{
    font-size: 0.7rem;
    display: flex;
    align-items: first baseline;
    gap: 20px;
}

#ticket-state{
    font-size: 0.8rem;
    padding: 3px 10px;
    border-radius: 50px;
    border: 2px solid #ff3266;
    width: fit-content;
    color: #ff3266;
    background-color: #ff326558;
    display: flex;
    align-items: center;
    gap: 10px;
}
